:root{
    --primary-color: white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.newNoteButton{
    width: 120px;
    height: 60px;
    padding: 1vh;
    font-size: 1.2rem;
    position: absolute;
    right: 2vh;
    top: 2vh;
    border: 1px solid gray;
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    color: white;
    border-radius: 5px;
}
main{
    width: 90vw;
    height: 100vh;
    position: relative;
    /* background-color: #1F2123; */
}
.note{
    width: 300px;
    position: absolute;
    height: auto;
    border: none;
    border-radius: 7px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5), 5px 0px 5px rgba(0,0,0,0.5);
    color: white;
    background: linear-gradient(135deg, #5d9cec, #3b6ea5);
    padding: 2vh;
}
.note.selected{
    z-index: 100;
}
.note>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.note>div:nth-child(1)>div:nth-child(1){
    width: 80%;
    border: none;
    outline: none;
}
.note>div:nth-child(2){
    width: 100%;
    min-height: 250px;
    overflow-y: scroll;
    scrollbar-width: none;
    height: auto;
    border: none;
    outline: none;
}
.gradientButtons{
    width: 100%;
    height: 4vh;
    margin-top: 2vh;
    display: none;
}
.gradientBtn{
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.buttonContainer{
    display: flex;
    padding-left: 110px;
}
.buttonContainer>.colorBtn{
    margin-right: 1vh;
    padding: 1vh 1.5vh;
}
.buttonContainer>button{
    border: none;
    color: inherit;
    padding: 1vh;
    border-radius: 5px;
    background-color: inherit;
    background-color: rgba(0, 0, 0, 0.2);
}
.buttonContainer>button:hover{
    background-color: rgba(0,0,0,0.5);
}
.buttonContainer>.saveBtn{
    margin-right: 1vh;
    padding: 1vh 1.5vh;
}
@media (max-width:1024px){
    .newNoteButton{
        width: 80px;
        height: 40px;
        font-size: 0.8rem;
    }
    .note{
        width: 200px;
    }
    .note>div:nth-child(2){
        min-height: 150px;
    }
    .buttonContainer{
        padding-left: 30px;
    }
    .note>div:nth-child(1)>div:nth-child(1){
        width: 70%;
    }
    .gradientBtn{
        width: 18px;
    }
}